
 
body{
    margin: 0;
    font-family: sans-serif;
    background: linear-gradient(135deg,#0f2027,#203a43,#2c5364);
    
}

.custom-card{
    background:#1b1b1b;
    color:white;
    border:none;
    border-radius:18px;
    overflow:hidden;
    transition:.4s;
    box-shadow:0 8px 25px rgba(0,0,0,.4);
}

.custom-card:hover{
    transform:translateY(-10px);
    box-shadow:0 15px 35px rgba(255,193,7,.45);
}

.custom-card img{
    height:320px;
    width:100%;
    object-fit:cover;
}

.card-title{
    color:#ffc107;
    font-weight:bold;
}

.card-text{
    color:#ddd;
    line-height:1.7;
}

.btn-warning{
    font-weight:bold;
    border-radius:25px;
    padding:10px 25px;
    transition:.3s;
}

.btn-warning:hover{
    transform:scale(1.05);
}

@media(max-width:768px){

.custom-card img{
    height:220px;
}

.card-title{
    font-size:24px;
}

.card-text{
    font-size:15px;
}

}